<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-boxes-box">
                <div class="icon">
                    <i class="flaticon-research"></i>
                    <div class="circles-box">
                        <div class="circle-one"></div>
                    </div>
                </div>
                <h3><a routerLink="/single-services">Desarrollo Web</a></h3>
                <p>Tener un sitio web ayudará a tus clientes a encontrar más fácil información de tu empresa, conocer tu marca y realizar compras de manera más fácil</p>
                <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-boxes-box">
                <div class="icon">
                    <i class="flaticon-speed"></i>
                    <div class="circles-box">
                        <div class="circle-one"></div>
                    </div>
                </div>
                <h3><a routerLink="/single-services">Social Media</a></h3>
                <p>Crearemos una estrategia basada en tus objetivos, optimizaremos tu perfil y si lo necesitas, tendremos a tus clientes atendidos.</p>
                <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
            <div class="single-boxes-box">
                <div class="icon">
                    <i class="flaticon-email-marketing"></i>
                    <div class="circles-box">
                        <div class="circle-one"></div>
                    </div>
                </div>
                <h3><a routerLink="/single-services">Aplicaciones Móviles</a></h3>
                <p>Desarrollamos aplicaciones móviles de acuerdo a las necesidades de tu empresa.
                    Para Android o para Iphone. 
                    ¿A qué esperas?</p>
                <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
            </div>
        </div>
    </div>
</div>