<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Detalles</h1>
        </div>
    </div>

    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="image"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="image"></div>
    <div class="shape7"><img src="assets/img/shape/shape7.png" alt="image"></div>
    <div class="shape8"><img src="assets/img/shape/shape8.png" alt="image"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>

<section class="overview-area ptb-100">
    <div class="container">
        <div class="overview-box">
            <div class="overview-content">
                <div class="content">
                    <span class="sub-title">Soluciones Digitales Para Empresas</span>
                    <h2>Servicios de Marketing Digital, Programación y Desarrollo de Software.</h2>
                    <p>Con más de 10 años de experiencia, trabajamos con tecnologías muy diversas aunque nos especializamos en realizar proyectos a medida de gran envergadura con el objetivo de llevar a tu empresa al siguiente nivel.</p>
                    <div class="features-text">
                        <h4>Trabajamos con:</h4>

                        <p>Angular, React, Vue,
                        Javascript, Python, Java,
                        Social Media, Community Manager, Photoshop, etc.</p>
                        
                       
                    </div>
                    <div class="features-text">
                        <h4>Gestión</h4>
                        <p>
                            Las marcas buscan potenciar su identidad en internet y multiplicar sus ingresos. Te ayudamos a cubrir las necesidades de tus clientes y a potenciar tu identidad en internet. 

                        </p>
                    </div>
                </div>
            </div>

            <div class="overview-image">
                <div class="image">
                    <img src="assets/img/services/services-img1.png" alt="image">
                </div>
            </div>
        </div>

        <div class="overview-box">
            <div class="overview-image">
                <div class="image">
                    <img src="assets/img/services/services-img2.png" alt="image">
                </div>
            </div>
            
            <div class="overview-content">
                <div class="content right-content">
                    <span class="sub-title">Social Media Marketing</span>
                    <h2>Solucionando Problemas, Creando Marcas</h2>
                    <p>Creemos que la interacción con la marca es clave en la comunicación. Las innovaciones reales y una experiencia positiva del cliente son el corazón de una comunicación exitosa.</p>
                    <ul class="features-list">
                        <li><span><i class='bx bx-check'></i> Community Manager</span></li>
                        <li><span><i class='bx bx-check'></i> Redes Sociales</span></li>
                        <li><span><i class='bx bx-check'></i> Diseño de Logotipos</span></li>
                        <li><span><i class='bx bx-check'></i> Contenido Digital</span></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-area bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Desarrollo de Sitios Web</span>
            <h2>Beneficios de tener un sitio web</h2>
            <p>Tener un sitio web ayudará a tus clientes a encontrar más fácil información de tu empresa, conocer tu marca y realizar compras de manera más fácil.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-content"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Expande tu negocio</h3>
                    <p>Estar conectado abre las puertas a posibles clientes, dandote mayores posibilidades de vender tus productos.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-darts"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Abierto 24/7</h3>
                    <p>No importa el horario, siempre estará disponible para que tus clientes realicen sus compras.</p>
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-bar-chart"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Incrementa tus visitas</h3>
                    <p>Sin importar desde que dispositivo se conecten tus clientes, tu sitio web estará disponible en todos los dispositivos, sin perder calidad.</p>
   
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-megaphone"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Visibilidad</h3>
                    <p>Estar presente en internet, genera oportunidades de negocios, ya que encontraran tu sitio negocio más fácil.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-link"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Captación de clientes</h3>
                    <p>Las oportunidades de negocio con un sitio web son infinitas. Con una buena estrategia puedes atraer potenciales nuevos clientes.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-reputation"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Análisis de datos</h3>
                    <p>Podrás recopilar información de tus visitantes y analizar a tu público, lo que te ayudará a obtener mejores resultados,</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="services-area bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Desarrollo de Apps</span>
            <h2>Las aplicaciones han llegado para facilitarnos la vida</h2>
            <p>Las aplicaciones han llegado para facilitarnos la vida,
                pues permiten acoplar los recursos de una empresa
                de una forma mucho más práctica</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-content"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Briefing</h3>
                    <p>Es una documento en el que la empresa debe explicar qué está buscando conseguir con un proyecto en concreto, para qué, en qué plazo temporal y con qué medios.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-darts"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Planing</h3>
                    <p>Una vez tenemos claro el objetivo, organizamos, programamos las actividades y las estrategias más oportunas para llegar a cumplir nuestro objetivo.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-bar-chart"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Diseño</h3>
                    <p>El diseño es un paso importante, ya que muestra como se verá nuestra App, antes de pasar a su realización.
                        Debemos escoger un diseño que se adapte a nuestro negocio.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-megaphone"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Desarrollo</h3>
                    <p>Una vez tenemos el diseño, es hora de hacerlo realidad. Es una fase importante, porque en ella es donde se plasmará visualmente el trabajo y el esfuerzo realizado.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-link"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Lanzamiento</h3>
                    <p>Es hora de lanzar al mercado nuestra App. Mostrar al cliente nuestro producto, para así poder atraerlos hacia nuestra empresa, generando oportunidades de negocio.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-reputation"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3>Mantenimiento</h3>
                    <p>En Ramblox nos encargamos del soporte correctivo y evolutivo del proyecto, así como de las actualizaciones estructurales y de contenido, seguridad y gestión técnica de sistemas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="seo-analysis-area ptb-100">
    <app-seo-analysis></app-seo-analysis>
</section>

<section class="pricing-area bg-f9f9f9 pt-100 pb-70">
    <app-pricing></app-pricing>
</section>

<section class="project-start-area ptb-100">
    <app-project-start></app-project-start>

    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="image"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="image"></div>
    <div class="shape7"><img src="assets/img/shape/shape7.png" alt="image"></div>
    <div class="shape13"><img src="assets/img/shape/shape13.png" alt="image"></div>
</section>

