<section class="history-area ptb-100 bg-f9f9f9">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Historia</span>
            <h2>Nuestra historia comienza en 2016</h2>
        </div>

        <ol class="timeline history-timeline">
            <li class="timeline-block">
                <div class="timeline-date">
                    <span>2016</span>
                    February 20
                    <sup>th</sup>
                </div>

                <div class="timeline-icon">
                    <span class="dot-badge"></span>
                </div>

                <div class="timeline-content">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="content">
                                <h3>Origen</h3>
                                <p>Ramblox nace en 2016 en Londres. Desde allí empezamos nuestra actividad en el Marketing Digital & Software como agencia de marketing online, aunque arrastrábamos muchos años de experiencia online en algunas de las mayores empresas del mundo. Gestionamos las mayores campañas de publicidad online del mundo y nos especializamos en todos los campos principales del marketing online y el social media.</p>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="image">
                                <img src="assets/img/history/history-img1.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="timeline-block">
                <div class="timeline-date">
                    <span>2017</span>
                    January 14
                    <sup>th</sup>
                </div>

                <div class="timeline-icon">
                    <span class="dot-badge"></span>
                </div>

                <div class="timeline-content">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="content">
                                <h3>Éxito Global</h3>
                                <p>En 2017 nos trasladamos a Barcelona, comenzamos nuestra actividad en España, consolidándonos como una agencia de marketing online referente en España. Con gran influencia de las últimas tendencias del Marketing Digital de Gran Bretaña y EE.UU., y con la experiencia del buen hacer de las empresas anglosajonas online, continuamos evolucionando y creciendo para ayudar cada día a más empresas Españolas a triunfar en Internet. Se parte de nuestra historia. </p>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="image">
                                <img src="assets/img/history/history-img2.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="timeline-block">
                <div class="timeline-date">
                    <span>2020</span>
                    March 25
                    <sup>th</sup>
                </div>

                <div class="timeline-icon">
                    <span class="dot-badge"></span>
                </div>

                <div class="timeline-content">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="content">
                                <h3>Oficina</h3>
                                <p>Gracias al trabajo constante, hemos podido abrir varias oficinas, en España y en Inglaterra. Nuestra visión no se queda ahí, queremos ir más allá con el paso de los años.</p>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="image">
                                <img src="assets/img/history/history-img3.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="timeline-block">
                <div class="timeline-date">
                    <span>2022</span>
                    December 10
                    <sup>th</sup>
                </div>

                <div class="timeline-icon">
                    <span class="dot-badge"></span>
                </div>

                <div class="timeline-content">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="content">
                                <h3>Nuestros valores</h3>
                                <p>En Ramblox tenemos muy claro como hacer las cosas. Nuestros clientes son lo primero, y no aceptamos otra cosa que un cliente satisfecho. Trabajamos de la mano con cada cliente para conocer bien su negocio y objetivos, y preparar así la mejor estrategia. El éxito de un cliente, es nuestro éxito.</p>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="image">
                                <img src="assets/img/history/history-img4.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</section>