<div class="plor-features-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="plor-features-card wow animate__animated animate__fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                    <div class="features-image">
                        <a routerLink="/single-services">
                            <img src="assets/img/more-home/features/features-1.png" alt="image">
                        </a>
                    </div>
                    <h3>
                        <a routerLink="/single-services">Marketing Analysis</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <a routerLink="/single-services" class="features-btn">View More <i class="flaticon-next-button"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="plor-features-card wow animate__animated animate__fadeInDown" data-wow-delay="200ms" data-wow-duration="1000ms">
                    <div class="features-image">
                        <a routerLink="/single-services">
                            <img src="assets/img/more-home/features/features-2.png" alt="image">
                        </a>
                    </div>
                    <h3>
                        <a routerLink="/single-services">Website Optimization</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <a routerLink="/single-services" class="features-btn">View More <i class="flaticon-next-button"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="plor-features-card wow animate__animated animate__fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                    <div class="features-image">
                        <a routerLink="/single-services">
                            <img src="assets/img/more-home/features/features-3.png" alt="image">
                        </a>
                    </div>
                    <h3>
                        <a routerLink="/single-services">Email Marketing</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    <a routerLink="/single-services" class="features-btn">View More <i class="flaticon-next-button"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>