<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Preguntas Frecuentes</h1>
        </div>
    </div>

    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="image"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="image"></div>
    <div class="shape7"><img src="assets/img/shape/shape7.png" alt="image"></div>
    <div class="shape8"><img src="assets/img/shape/shape8.png" alt="image"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>

<section class="faq-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>P:¿Qué es el Marketing Digital?</h3>
                    <p><strong>R:</strong> El Marketing Digital (o Marketing Online) engloba todas aquellas acciones y estrategias publicitarias o comerciales que se ejecutan en los medios y canales de internet. Este fenómeno viene aplicándose desde los años 90 como una forma de trasladar las técnicas de marketing offline al universo digital.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>P: ¿Qué hace un comercializador digital?</h3>
                    <p><strong>R:</strong> El gerente de marketing digital o Digital Marketing Manager es la persona responsable de desarrollar y supervisar las estrategias de marketing online.
                        Se responsabilizan de supervisar el proyecto y garantizar que la campaña de marketing digital se desarrolle sin problemas.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>P: ¿Se beneficiaría mi negocio del Marketing Digital?</h3>
                    <p><strong>R:</strong> Sin duda alguna, puesto que hará que tu negocio tenga presencia en internet, llegando a más clientes y de forma más sencilla. Gracias a las estrategias idóneas, que ayudarán a cumplir los objetivos marcados. </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>P: ¿Qué es un desarrollador web?</h3>
                    <p><strong>R:</strong> Un desarrollador web es un programador especializado, o dedicado de forma específica, en desarrollar aplicaciones de la World Wide Web o aplicaciones distribuidas en red que se ejecutan mediante HTTP desde un servidor web a un navegador web.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>P: ¿Es importante tener un Ecommerce?</h3>
                    <p><strong>R:</strong> Gracias a la globalización, este sector se ha convertido en el más importante, ya que puedes acceder a millones de productos haciendo un click.
                    La mayoría de las empresas disponen de páginas web o apps donde poder vender sus productos.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>P: ¿Qué es un Community Manager?</h3>
                    <p><strong>R:</strong> El Community Manager es el profesional responsable de construir y administrar la comunidad online y gestionar la identidad y la imagen de marca, creando y manteniendo relaciones estables y duraderas con sus clientes, sus fans en internet.</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>P: ¿Qué hace un Community Manager?</h3>
                    <p><strong>A:</strong>  Creación y gestión de contenidos, Analítica, Monitorización de todos los parámetros estratégicos, Comunicación con la comunidad, Planificación de acciones de marketing digital. </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="faq-item">
                    <h3>P: ¿Es importante crear una marca?</h3>
                    <p><strong>R:</strong> Sin duda alguna. Es lo que te hace diferente frente a las demás empresas. Con las estrategias oportunas, puedes crear y consolidar tu marca en el mercado, ayudandote a destacar por encima de la competencia.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-start-area bg-f9f9f9 ptb-100">
    <app-project-start></app-project-start>

    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="image"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="image"></div>
    <div class="shape7"><img src="assets/img/shape/shape7.png" alt="image"></div>
    <div class="shape13"><img src="assets/img/shape/shape13.png" alt="image"></div>
</section>