<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Servicios</h1>
        </div>
    </div>

    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="image"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="image"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="image"></div>
    <div class="shape7"><img src="assets/img/shape/shape7.png" alt="image"></div>
    <div class="shape8"><img src="assets/img/shape/shape8.png" alt="image"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>

<section class="featured-services-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-research"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a routerLink="/single-services">Desarrollo Web</a></h3>
                    <p>Tener un sitio web ayudará a tus clientes a encontrar más fácil información de tu empresa, conocer tu marca y realizar compras de manera más fácil.</p>
                    <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a routerLink="/single-services">Desarrollo de Ecommerce</a></h3>
                    <p>Si no muestras a tus clientes dónde estás no van a darse cuenta por sí mismo. Convierte tu negocio en un escaparate virtual. ¡Salta a Internet!</p>
                    <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-email-marketing"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a routerLink="/single-services">Desarrollo de Apps móviles</a></h3>
                    <p>Desarrollamos aplicaciones móviles de acuerdo a las necesidades de tu empresa. ¡Nunca fue tan fácil impulsar tu empresa!</p>
                    
                    <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-megaphone"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a routerLink="/single-services">Desarrollo de Software</a></h3>
                    <p>No se trata sólo de programar, si no de analizar las necesidades del cliente,
                       creando un diseño y una experiencia de usuario (UX) únicos.</p>
                    <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-keywords"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a routerLink="/single-services">Diseño de sitios web</a></h3>
                    <p>No importa cuánto esfuerzo hayas puesto en tu negocio.
                       Convierte tu negocio en un escaparate virtual. ¡Salta a Internet!</p>
                    <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-content-management"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a routerLink="/single-services">Diseño de logotipos</a></h3>
                    <p>El logo de tu empresa es una de las partes más importantes y de las primeras en ser vistas por tus clientes cuando ocurre el primer contacto con tu negocio.</p>
                    <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-ppc"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a routerLink="/single-services">Community Manager</a></h3>
                    <p>¿La gestión de las redes sociales de tu negocio te consume demasiado tiempo que te gustaría dedicar a otras tareas? 
                        Si te falta tiempo para pensar o crear el contenido necesario para llevar tus redes sociales de una manera profesional has llegado al lugar indicado.</p>
                    <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-competitor"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a routerLink="/single-services">Estrategias de Marketing Digital</a></h3>
                    <p>Crearemos una estrategia basada en tus objetivos, optimizaremos tu perfil y si lo necesitas, tendremos a tus clientes atendidos.</p>
                    <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-startup"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a routerLink="/single-services">Redes Sociales</a></h3>
                    <p>En Ramblox entendemos las redes sociales como una herramienta de comunicación directa con nuestros clientes y con aquellos interesados en nuestra empresa.</p>
                    <a routerLink="/single-services" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Más información <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<app-testimonials></app-testimonials>