<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="what-we-do-content">
                <span class="sub-title">¿Qué hacemos?</span>
                <h2>Hacemos que tu negocio aumente sus visitantes, lo que genera un aumento de posibles clientes.</h2>
                <p>Crearemos una estrategia basada en tus objetivos, optimizaremos tu perfil y si lo necesitas, tendremos a tus clientes atendidos.</p>
                <div class="skills-item">
                    <div class="skills-header">
                        <h4 class="skills-title">Digital Marketing & SEO</h4>
                        <div class="skills-percentage">
                            <div class="count-box">95%</div>
                        </div>
                    </div>
                    <div class="skills-bar">
                        <div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="what-we-do-content-accordion">
                <div class="accordion" id="whatWeDoAccordion">
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Community Manager  <i class="flaticon-minus"></i>
                            </button>
                        </div>
                        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#whatWeDoAccordion">
                            <div class="accordion-body">
                                <p>¿La gestión de las redes sociales de tu negocio te consume demasiado tiempo que te gustaría dedicar a otras tareas? Si te falta tiempo para pensar o crear el contenido necesario para llevar tus redes sociales de una manera profesional has llegado al lugar indicado.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Redes Sociales <i class="flaticon-minus"></i>
                            </button>
                        </div>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#whatWeDoAccordion">
                            <div class="accordion-body">
                                <p>En Ramblox entendemos las redes sociales como una herramienta de comunicación directa con nuestros clientes y con aquellos interesados en nuestra empresa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Estrategias de Marketing <i class="flaticon-minus"></i>
                            </button>
                        </div>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#whatWeDoAccordion">
                            <div class="accordion-body">
                                <p>Optimizaremos las estrategias para llegar mejor a tus targets, logrando alcanzar los objetivos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>