<div class="container">
    <div class="subscribe-content">
        <span class="sub-title">Plor Updates</span>
        <h2>Subscribe To Our Newsletter</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <form class="newsletter-form">
            <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required autocomplete="off">
            <button type="submit" class="default-btn">Subscribe Now</button>
        </form>
    </div>
</div>