<div class="plor-services-area ptb-100">
    <div class="container">
        <div class="section-title with-gradient-color">
            <span class="sub-title">SERVICES</span>
            <h2>Let’s Check Our Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="plor-services-slides owl-carousel owl-theme">
            <div class="plor-services-card wow animate__animated animate__animate__animated animate__fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                <div class="icon">
                    <i class="flaticon-megaphone"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Social Media Marketing</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                <div class="icon color-two">
                    <i class="flaticon-keywords"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Keyword Research</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                <div class="icon color-three">
                    <i class="flaticon-content-management"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Content Marketing</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                <div class="icon color-four">
                    <i class="flaticon-competitor"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Competitor Research</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                <div class="icon">
                    <i class="flaticon-megaphone"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Social Media Marketing</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                <div class="icon color-two">
                    <i class="flaticon-keywords"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Keyword Research</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                <div class="icon color-three">
                    <i class="flaticon-content-management"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Content Marketing</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                <div class="icon color-four">
                    <i class="flaticon-competitor"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Competitor Research</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">
                <div class="icon">
                    <i class="flaticon-megaphone"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Social Media Marketing</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
                <div class="icon color-two">
                    <i class="flaticon-keywords"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Keyword Research</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">
                <div class="icon color-three">
                    <i class="flaticon-content-management"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Content Marketing</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
            <div class="plor-services-card wow animate__animated animate__fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
                <div class="icon color-four">
                    <i class="flaticon-competitor"></i>
                </div>
                <h3>
                    <a routerLink="/single-services">Competitor Research</a>
                </h3>
                <p>Nulla porttitor accumsan tincidunt xed porttitor lectus nibh xed porttitor lectus nibh.</p>
                <a routerLink="/single-services" class="services-btn">View More <i class="flaticon-next-button"></i></a>
            </div>
        </div>
    </div>
    <div class="plor-services-shape">
        <img src="assets/img/more-home/services/vector-shape.png" alt="image">
    </div>
</div>