<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row line">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <!--<h3><span>Ramblox,</span> Software and Digital Marketing</h3>-->
                    <a routerLink="/" class="logo">
                        <img src="assets/img/logo.png" alt="logo">
                    </a>
                    <p> Trabajamos de la mano con cada cliente para conocer bien su negocio y objetivos, y preparar así la mejor estrategia.
                        </p>
                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Explorar</h3>

                    <ul class="footer-links-list">
                        <li><a routerLink="/services-1">Servicios</a></li>
                        <li><a routerLink="/contact">Contacto</a></li>
                        <li><a routerLink="/about-us-1">About</a></li>
                        <li><a routerLink="/home-two">Inicio</a></li>
                        
                       
                       
                        <!--<li><a routerLink="/pricing">Pricing</a></li>-->
                        <!--<li><a routerLink="/portfolio-1">Portfolio</a></li>-->
                     
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-2">
                    <h3>Recursos</h3>

                    <ul class="footer-links-list">
                        <li><a routerLink="/services-1">Servicios</a></li>
                        <li><a routerLink="/team-1">Equipo</a></li>
                        <li><a routerLink="/faq">FAQ</a></li>
                        <li><a routerLink="/blog-1">Blog</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contacto</h3>

                    <ul class="footer-contact-info">
                        <li><i class='bx bx-map'></i>63, A Coruña, España</li>
                        <li><i class='bx bx-phone-call'></i><a href="tel:+11234567890">+1 (123) 456 7890</a></li>
                        <li><i class='bx bx-envelope'></i><a href="mailto:hello@plor.com">ramblox@hotmail.com</a></li>
                        <li><i class='bx bxs-inbox'></i><a href="tel:+557854578964">+55 785 4578964</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p *ngFor="let Text of copyrightText;"><i class='bx bx-copyright'></i>{{Text.text}} <a target="_blank" href="{{Text.link}}">{{Text.linkText}}</a></p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="terms-of-service">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="shape16"><img src="assets/img/shape/shape16.png" alt="image"></div>
</footer>
<!-- End Footer Area -->

<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>