<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
            <div class="project-start-image">
                <img src="assets/img/project-start1.png" alt="image">
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="project-start-content">
                <span class="sub-title">Comenzar</span>
                <h2>Queremos ayudarte en tu proyecto digital</h2>
                <p>Lleva tu proyecto al siguiente nivel. ¿A qué esperas?</p>
                <a routerLink="/contact" class="default-btn">Comenzar</a>
            </div>
        </div>
    </div>
</div>