.single-team-box {
    text-align: center;
    position: relative;
    overflow: hidden;

    .content {
        position: absolute;
        left: 0;
        bottom: -20px;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
        background-color: #f9f9f9;
        text-align: start;
        padding: 15px 30px;

        h3 {
            margin-bottom: 0;
            font: {
                size: 24px;
            };
        }
        span {
            margin-top: 6px;
            display: block;
            font-weight: 600;
            color: var(--mainColor);
        }
    }
    .social-link {
        position: absolute;
        right: 20px;
        top: 20px;
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            display: block;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
            a {
                width: 32px;
                height: 32px;
                text-align: center;
                color: var(--blackColor);
                background-color: var(--whiteColor);
                font-size: 18px;
                position: relative;
                border-radius: 2px;
                transform: scaleY(0);
                transition: .4s;

                i {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    right: 0;
                    transform: translateY(-48%);
                }
                &:hover {
                    background-color: var(--mainColor);
                    color: var(--whiteColor);
                }
            }
            &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8) {
                a {
                    transform: scaleX(0);
                }
            }
        }
    }
    &:hover {
        .content {
            opacity: 1;
            visibility: visible;
            bottom: 0;
        }
        .social-link {
            li {
                a {
                    transform: scale(1) !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .single-team-box {
        .social-link {
            li {
                a {
                    transform: scale(1) !important;
                }
            }
        }
        .content {
            text-align: center;
            padding: 15px;

            h3 {
                font-size: 19px;
            }
        }
    }

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-team-box {
        .content {
            h3 {
                font-size: 22px;
            }
        }
        .social-link {
            li {
                a {
                    transform: scale(1) !important;
                }
            }
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-team-box {
        .content {
            padding: 20px;

            h3 {
                font-size: 23px;
            }
        }
    }

}