<section class="testimonials-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="testimonials-content">
                    <span class="sub-title">Testimonios</span>
                    <h2>¿Qué están diciendo nuestros clientes?</h2>

                    <div class="testimonials-slides owl-carousel owl-theme">
                        <div class="single-testimonials-item">
                            <p>"Gracias a Ramblox, mi negocio a llegado a más personas, aumentando las visitas y sobre todo, el flujo de clientes. Mi negocio tiene más presencia en el mundo digital"</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/user1.jpg" alt="image">
                                    <div class="title">
                                        <h3>John Smith</h3>
                                        <span>Python Developer</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-testimonials-item">
                            <p>Gracias al servicio de Community Manager, pude aumentar mis seguidores, consiguiendo atraer marcas para promociones. Además, de la creación de contenido
                                para mis seguidores.
                            </p>
                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/user2.jpg" alt="image">
                                    <div class="title">
                                        <h3>Sarah Taylor</h3>
                                        <span>Web Developer</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-testimonials-item">
                            <p>Soy un diseñador web, por lo que voy con el tiempo justo para realizar otras tareas. En Ramblox descubrí 
                                un servicio adaptado a mis necesidades, crear un logo para una empresa. Ramblox lo hizo por mi.
                            </p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/user3.jpg" alt="image">
                                    <div class="title">
                                        <h3>James Anderson</h3>
                                        <span>Web Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="testimonials-image">
                    <img src="assets/img/testimonia-img.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>