<section class="testimonials-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="testimonials-content">
                    <span class="sub-title">Testimonios</span>
                    <h2>¿Qué están diciendo nuestros clientes?</h2>

                    <div class="testimonials-slides owl-carousel owl-theme">
                        <div class="single-testimonials-item">
                            <p>"Gracias a Ramblox, mi negocio a llegado a más personas, aumentando las visitas y sobre todo, el flujo de clientes. Mi negocio tiene más presencia en el mundo digital"</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/user1.jpg" alt="image">
                                    <div class="title">
                                        <h3>John Smith</h3>
                                        <span>Python Developer</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-testimonials-item">
                            <p>"Con Ramblox mi negocio pudo crecer, gracias a su gran conocimiento sobre el Marketing Digital y su manejo del Social Media."</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/user2.jpg" alt="image">
                                    <div class="title">
                                        <h3>Sarah Taylor</h3>
                                        <span>Web Developer</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-testimonials-item">
                            <p>Nuestros clientes son lo primero, y no aceptamos otra cosa que un cliente satisfecho. Trabajamos de la mano con cada cliente para conocer bien su negocio y objetivos, y preparar así la mejor estrategia. El éxito de un cliente, es nuestro éxito.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/user3.jpg" alt="image">
                                    <div class="title">
                                        <h3>James Anderson</h3>
                                        <span>Web Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-12">
                <div class="testimonials-image">
                    <img src="assets/img/testimonials-img.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>